<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="login">
            <div class="image-container">
                <img src="/static/img/leila.png">
            </div>
            <div class="loginform">
                <h1>Eai Leila!</h1>
                <h2>Faça seu cadastro.</h2><br>

                <form id="cadastroForm">
                    <div class="input-box">
                        <i class="fa fa-user"></i><input required class="nome" type="text" name="nome" placeholder="Usuário">
                    </div>
                    <div class="input-box">
                        <i class="fa fa-envelope"></i><input required class="email" type="email" name="email" placeholder="Email">
                    </div>
                    <div class="input-box">
                        <i class="fa fa-lock"></i><input required class="password" type="password" name="password" placeholder="Senha"><i class="fa fa-eye-slash" id="show-password" onclick="togglePassword()"></i>
                    </div>
                    <button type="submit" class="btn-submit">Cadastrar</button>
                </form>
                <ul class="options">
                    <li class="right">
                        <a class="link" href="/templates/login.html">Já tem login? Entre agora!</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
                document.addEventListener('DOMContentLoaded', function () {
            const cadastroForm = document.getElementById('cadastroForm');

            cadastroForm.addEventListener('submit', function (e) {
                e.preventDefault(); 

                const nome = document.querySelector('.input-box .nome').value;
                const email = document.querySelector('.input-box .email').value;
                const senha = document.querySelector('.input-box .password').value;

                axios.post('http://localhost:8080/api/usuarios', {
                    nome: nome,
                    email: email,
                    senha: senha
                })
                .then(function (response) {
                    console.log(response);
                    alert('Cadastro realizado com sucesso!');
                    window.location.href = '/templates/login.html';
                })
                .catch(function (error) {
                    console.error(error);
                    alert('Falha no cadastro!');
                });
            });
        });
    </script>
</body>
</html>
