<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap" rel="stylesheet">
    <title>Agendamentos</title>
</head>
<body>
<nav class="nav-bar-container">
    <div class="nav-bar">
        <div class="titulo-agendamento">
            <h1 class="titulo">Agendamentos Leila</h1>
        </div>
        <div class="saida">
            <p class="usuario"></p>
            <a href="/templates/login.html">
                <i id="saida" class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <div id="lista-agendamentos" class="lista-agendamentos">
    </div>
</div>
<div class="footer-adicionar">
    <div class="adicionar">  
        <div class="btn-adicionar">
            <a href="#openModal">
                <i id="plus" class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
        <div id="openModal" class="modalDialog">
            <div>
                <a href="javascript:void(0)" title="Close" class="close" id="closeModal">X</a>
                <div class="relatorio-container">
                    <div class="left">
                        <form id="form-agendamento" class="form-container">
                            <div class="form-group">
                                <input class="input-pop" placeholder="Nome" id="nome" name="nome" required>
                            </div>
                            <div class="form-group">
                                <input class="input-pop" placeholder="Serviço" id="servico" name="servico" required>
                            </div>
                            <div class="form-group date-group">
                                <input type="date" id="data" required>
                            </div>
                            <div class="form-group date-group">
                                <input class="input-pop" type="time" id="horario" required>
                            </div>
                            <div class="form-group">
                                <button class="confirmar-adicionar" type="submit">Adicionar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/js/home.js"></script>
</body>
</html>